@import "./nprogress.css";


@font-face {
    font-family: 'NotoSerifBangla';
    src: url(./fonts/NotoSerifBengali-Thin.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'NotoSerifBangla';
    src: url(./fonts/NotoSerifBengali-ExtraLight.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'NotoSerifBangla';
    src: url(./fonts/NotoSerifBengali-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'NotoSerifBangla';
    src: url(./fonts/NotoSerifBengali-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'NotoSerifBangla';
    src: url(./fonts/NotoSerifBengali-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSerifBangla';
    src: url(./fonts/NotoSerifBengali-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'NotoSerifBangla';
    src: url(./fonts/NotoSerifBengali-Bold.ttf) format('truetype');
    font-weight: 700;
}